.children {
    padding: 5rem;
}

.header {
    text-align: center;
    font-size: 5rem;
}

.header_title {
    font-size: 5rem;
}

.header_subtitle {
    font-size: 2rem;
}

.footer {
    text-align: center;
    font-size: 2rem;
}